@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .clip-path-stocks {
    clip-path: polygon(0% 100%, 5% 80%, 10% 95%, 15% 75%, 20% 85%, 25% 60%, 30% 70%, 35% 50%, 40% 60%, 45% 45%, 50% 55%, 55% 40%, 60% 50%, 65% 35%, 70% 45%, 75% 30%, 80% 40%, 85% 20%, 90% 30%, 95% 10%, 100% 20%, 100% 100%);
  }

  .clip-path-treasury {
    clip-path: polygon(0% 60%, 5% 70%, 10% 55%, 15% 65%, 20% 50%, 25% 60%, 30% 45%, 35% 55%, 40% 40%, 45% 50%, 50% 35%, 55% 45%, 60% 30%, 65% 40%, 70% 25%, 75% 35%, 80% 20%, 85% 30%, 90% 15%, 95% 25%, 100% 10%, 100% 100%, 0% 100%);
  }

  .h-70\% {
    height: 70%;
  }
}